//- Created by bob on 26/05/2017.
// navigation
.navbar-layout
    .navbar-header
        img(src=theme.logo, alt=config.title)
    .navbar-date
        .navbar-date-post
            h2 文章
                p #{site.posts.length}
        .navbar-date-tags
            h2 标签
                p #{site.tags.length}
        .clear-float
    .navbar-links
        ul
            each value, key in theme.menu
                li
                    - var re = /^(http|https):\/\/*/gi;
                    - var tar = re.test(value) ? "_blank" : "_self"
                    - var act = !re.test(value) && "/"+page.current_url === value
                    a(href=url_for(value) target=tar)
                        != key.toUpperCase()
    .navbar-icon
        - var github = 'https://github.com/' + theme.github
        - var weibo = 'http://weibo.com/' + theme.weibo
        - var mail = 'mailto:' + theme.email
        a.fa.fa-github.navbar-github(href=github)
        a.fa.fa-weibo.navbar-weibo(href=weibo)
        a.fa.fa-envelope.navbar-mail(href=mail)
        a.fa.fa-rss.navbar-rss(href=theme.rss)